<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="cssStyle">
    <title>PV Symphony</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <link rel="apple-touch-icon" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <link rel="apple-touch-icon" sizes="72x72" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <link rel="apple-touch-icon" sizes="114x114" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" type="text/css" href="CSS/settings.css">
    <link rel="stylesheet" type="text/css" href="CSS/layers.css">
    <link rel="stylesheet" type="text/css" href="CSS/navigation.css">
    <link rel="stylesheet" href="CSS/vendors.min.css">
    <link rel="stylesheet" href="CSS/icon.min.css">
    <link rel="stylesheet" href="CSS/style.min.css">
    <link rel="stylesheet" href="CSS/responsive.min.css">
    <link rel="stylesheet" href="CSS/decor-store.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' id='pbmit-theme-style-css' href='CSS/theme.minadc6_slider.css?ver=6.5.5' media='all' />
    <link rel='stylesheet' id='pbmit-base-icons-css' href='CSS/pbminfotech-base-iconsadc6_slider.css?ver=6.5.5'
          media='all' />
    <link rel='stylesheet' id='pbmit-dynamic-style-css' href='CSS/theme-style.min7450_slider.css?ver=306730'
          media='all' />
    <!--    <script src="JS/jquery.minf43b.js?ver=3.7.1" id="jquery-core-js"></script>-->
    <link rel='stylesheet' id='rs-plugin-settings-css' href='CSS/rs6efd5_slider.css?ver=6.7.18' media='all' />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>

<header class="header-with-topbar" th:fragment="header">
    <!-- start navigation -->
    <nav class="navbar navbar-expand-lg header-light bg-transparent disable-fixed" data-header-hover="light">
        <div class="container-fluid">
            <div class="col-auto">
                <a class="navbar-brand" href="/">
                    <img src="" data-at2x="" alt="" class="default-logo">
                    <img src="" data-at2x="" alt="" class="alt-logo">
                    <img src="" data-at2x="" alt="" class="mobile-logo">
                </a>
            </div>
            <div class="col-auto menu-order position-static xs-ps-0">
                <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav alt-font">
                        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                        <li class="nav-item dropdown simple-dropdown">
                            <a href="/shop" class="nav-link">Shop</a>
                            <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                <li><a href="/shop">Piano</a></li>
                                <li><a href="/shop">Guitar</a></li>
                                <li><a href="/shop">Violin</a></li>
                                <li><a href="/shop">Drum</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown simple-dropdown">
                            <a href="javascript:void(0);" class="nav-link">Pages</a>
                            <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                <li><a href="/about">About</a></li>
                                <li><a href="/faq">FAQs</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="//blog" class="nav-link">Blog</a></li>
                        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-auto ms-auto">
                <div class="header-icon">
                    <div class="header-search-icon icon">
                        <a href="javascript:void(0)" class="search-form-icon header-search-form"><i
                                class="feather icon-feather-search"></i></a>
                        <div class="search-form-wrapper">
                            <button title="Close" type="button" class="search-close alt-font">×</button>
                            <form id="search-form" role="search" method="get" class="search-form bg-white"
                                  action="search-result.html">
                                <div class="search-form-box">
                                    <h2 class="text-dark-gray text-center mb-7 alt-font fw-700 ls-minus-1px">What
                                        are you looking for?</h2>
                                    <input class="search-input alt-font" id="search-form-input5e219ef164995"
                                           placeholder="Enter your keywords..." name="s" value="" type="text"
                                           autocomplete="off">
                                    <button type="submit" class="search-button">
                                        <i class="feather icon-feather-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="header-cart-icon icon">
                        <div class="header-cart dropdown">
                            <a href="javascript:void(0);"><i class="feather icon-feather-shopping-bag"></i>
                                <!-- <span
                                class="cart-count alt-font">2</span> -->
                            </a>
                            <ul class="cart-item-list">
                                <li class="cart-item align-items-center">
                                    <a href="javascript:void(0);" class="alt-font close">×</a>
                                    <div class="product-image">
                                        <a href="/product-detail"><img
                                                src="Images/demo-decor-store-product-01.jpg" class="cart-thumb"
                                                alt=""></a>
                                    </div>
                                    <div class="product-detail alt-font fw-600">
                                        <a href="/product-detail">Table clock</a>
                                        <span class="item-ammount fw-500">1 x $23.00</span>
                                    </div>
                                </li>
                                <li class="cart-item align-items-center">
                                    <a href="javascript:void(0);" class="alt-font close">×</a>
                                    <div class="product-image">
                                        <a href="/product-detail"><img
                                                src="Images/demo-decor-store-product-03.jpg" class="cart-thumb"
                                                alt=""></a>
                                    </div>
                                    <div class="product-detail alt-font fw-600">
                                        <a href="/product-detail">Ceramic mug</a>
                                        <span class="item-ammount fw-500">2 x $15.00</span>
                                    </div>
                                </li>
                                <li class="cart-total">
                                    <div class="alt-font mb-15px"><span class="w-50 fw-500">Subtotal:</span><span
                                            class="w-50 text-end fw-700">$199.99</span></div>
                                    <a href="/cart"
                                       class="btn btn-large btn-transparent-base-color border-color-extra-medium-gray btn-round-edge">View
                                        cart</a>
                                    <a href="/checkout"
                                       class="btn btn-large btn-base-color btn-box-shadow btn-round-edge">Checkout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-text md-ms-20px alt-font">
                        <a href="/login" class="fs-17 fw-600"><i
                                class="feather icon-feather-user d-inline-block d-xl-none"></i><span
                                class="d-none d-xl-inline-block"> <i class="bi bi-person"
                                                                     style="font-size: larger;"></i>
                            <!-- Login -->
                                </span></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<section th:fragment="pageTitle(title)" class="page-title-center-alignment cover-background top-space-padding"
         style="background-image: url(Images/demo-decor-store-title-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center position-relative page-title-extra-large">
                <h1 class="alt-font d-inline-block fw-700 ls-minus-05px text-base-color mb-10px mt-3 md-mt-50px"
                    th:text="${title}">
                </h1>
            </div>
            <div class="col-12 breadcrumb breadcrumb-style-01 d-flex justify-content-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li th:text="${title}"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer th:fragment="footer" class="footer-dark bg-dark-gray pb-0 pt-0 cover-background"
        style="background-image:url('Images/demo-decor-store-footer-bg.jpg')">
    <div class="container pt-4 pb-4 md-pt-45px md-pb-45px footerContent">
        <div class="row justify-content-center">
            <!-- start footer column -->
            <div class="col-12 col-lg-3 last-paragraph-no-margin order-sm-1 md-mb-50px xs-mb-30px ">
                <a href="/" class="footer-logo mb-15px d-inline-block"><img src="Images/Logo_PhucVYSymphony.png"
                                                                            style="max-width: 100%;"></a>
                <p class="w-80 sm-w-100">Lorem ipsum amet adipiscing elit to eiusmod ad tempor.</p>
                <div class="elements-social social-icon-style-02 mt-15px">
                    <ul class="small-icon light">
                        <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i
                                class="fa-brands fa-dribbble"></i></a></li>
                        <li><a class="twitter" href="https://www.twitter.com" target="_blank"><i
                                class="fa-brands fa-twitter"></i></a></li>
                        <li><a class="instagram" href="https://www.instagram.com" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Categories</span>
                <ul>
                    <li><a href="/shop">Piano</a></li>
                    <li><a href="/shop">Guitar</a></li>
                    <li><a href="/shop">Violin</a></li>
                    <li><a href="/shop">Drum</a></li>
                </ul>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Information</span>
                <ul>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/faq">FAQs</a></li>
                    <li><a href="/faq">Blog</a></li>
                </ul>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <!-- <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
            <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Account</span>
            <ul>
                <li><a href="store-account.html">My account</a></li>
                <li><a href="/cart">Orders</a></li>
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="#">My wishlists</a></li>
            </ul>
        </div> -->
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="col-lg-3 col-sm-6 ps-20px sm-ps-15px md-mb-50px xs-mb-0 order-sm-2 order-lg-5">
                <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Newsletter</span>
                <div class="mb-20px">Get everything you need succeed!</div>
                <div class="d-inline-block w-100 newsletter-style-02 position-relative mb-15px">
                    <form action="email-templates/subscribe-newsletter.php" method="post"
                          class="position-relative w-100">
                        <input
                                class="bg-blue-tangaroa border-color-transparent-white-light w-100 form-control pe-50px ps-20px lg-ps-15px required"
                                type="email" name="email" placeholder="Enter your email">
                        <input type="hidden" name="redirect" value="">
                        <button class="btn pe-20px submit" aria-label="submit"><i
                                class="icon feather icon-feather-mail icon-small text-white"></i></button>
                        <div
                                class="form-results border-radius-4px pt-5px pb-5px ps-15px pe-15px fs-14 lh-22 mt-10px w-100 text-center position-absolute d-none">
                        </div>
                    </form>
                </div>
                <div class="footer-card">
                    <a href="#" class="d-inline-block me-5px align-middle"><img
                            src="Images/demo-decor-store-payment-icon-01.png" alt=""></a>
                    <a href="#" class="d-inline-block me-5px align-middle"><img
                            src="Images/demo-decor-store-payment-icon-02.png" alt=""></a>
                    <a href="#" class="d-inline-block me-5px align-middle"><img
                            src="Images/demo-decor-store-payment-icon-03.png" alt=""></a>
                    <a href="#" class="d-inline-block me-5px align-middle"><img
                            src="Images/demo-decor-store-payment-icon-04.png" alt=""></a>
                </div>
            </div>
            <!-- end footer column -->
        </div>
    </div>
</footer>

<div th:fragment="scriptStyle">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        var citis = document.getElementById("city");
        var districts = document.getElementById("district");
        var wards = document.getElementById("ward");
        var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
            method: "GET",
            responseType: "application/json",
        };
        var promise = axios(Parameter);
        promise.then(function (result) {
            renderCity(result.data);
        });

        function renderCity(data) {
            for (const x of data) {
                citis.options[citis.options.length] = new Option(x.Name, x.Id);
            }
            citis.onchange = function () {
                const selectedCityName = this.options[this.selectedIndex].text;
                // console.log("Đã chọn tỉnh:", selectedCityName);
                document.getElementById("selectedCity").value = selectedCityName;
                district.length = 1;
                ward.length = 1;
                if (this.value != "") {
                    const result = data.filter(n => n.Id === this.value);
                    for (const k of result[0].Districts) {
                        district.options[district.options.length] = new Option(k.Name, k.Id);
                    }
                }
            };
            districts.onchange = function () {
                ward.length = 1;
                const districtName = district.options[district.selectedIndex].text;
                // console.log("Quận/Huyện:", districtName);
                document.getElementById("selectedDistrict").value = districtName;
                const dataCity = data.filter((n) => n.Id === citis.value);
                if (this.value != "") {
                    const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;
                    for (const w of dataWards) {
                        wards.options[wards.options.length] = new Option(w.Name, w.Id);
                    }
                }
            };

            wards.onchange = function () {
                const wardName = ward.options[ward.selectedIndex].text;
                if (this.selectedIndex > 0) {
                    // console.log("Phường/Xã:", wardName);
                    document.getElementById("selectedWard").value = wardName;
                } else {
                    document.getElementById("selectedWard").value = "";
                }
            };
        }
    </script>
    <script>
        $(".showToast").click(function(){
            let url = $(this).attr("data-href");
            $.get( url)
                .done(function( data ) {
                    if(data == "successful") {
                        let successMg = '<i class="fa fa-check-circle" aria-hidden="true"></i>  Product added successfully getByID';
                        let toast = document.createElement('div');
                        toast.classList.add('toast');
                        toast.innerHTML = successMg;
                        let toastBox = document.getElementById('toastBox');
                        toastBox.appendChild(toast);
                        setTimeout(() => {
                            toast.remove();
                        }, 2000)
                    }else{
                        let successMg = '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Product can not add successfully getByID';
                        let toast = document.createElement('div');
                        toast.classList.add('toast');
                        toast.innerHTML = successMg;
                        let toastBox = document.getElementById('toastBox');
                        // toastBox.appendChild(toast);
                        setTimeout(() => {
                            toast.remove();
                        }, 2000)
                    }
                });
        });
    </script>
    <!--        <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
    <script type="text/javascript" src="JS/jquery.js"></script>
    <script type="text/javascript" src="JS/vendors.min.js"></script>
    <script type="text/javascript" src="JS/main.js"></script>
    <script async="" defer=""
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA56KqSJ11nQUw_tXgXyNMiPmQeM7EaSA&callback=initMap"></script>
    <script type="text/javascript" src="JS/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="JS/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript">

        /* https://learn.jquery.com/using-jquery-core/document-ready/ */
        jQuery(document).ready(function () {
            /* initialize the slider based on the Slider's ID attribute from the wrapper above */
            jQuery('#decor-store-slider').show().revolution({
                sliderType: "standard",
                /* sets the Slider's default timeline */
                delay: 9000,
                /* options are 'auto', 'fullwidth' or 'fullscreen' */
                sliderLayout: 'fullscreen',
                /* RESPECT ASPECT RATIO */
                autoHeight: 'off',
                /* options that disable autoplay */
                stopLoop: "on",
                stopAfterLoops: 0,
                stopAtSlide: 1,
                navigation: {
                    keyboardNavigation: "on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    mouseScrollReverse: "default",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        touchOnDesktop: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: true
                    },
                    arrows: {

                        enable: false,
                        style: 'uranus',
                        rtl: false,
                        hide_onleave: false,
                        hide_onmobile: false,
                        hide_under: 0,
                        hide_over: 778,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        left: {
                            container: 'slider',
                            h_align: 'left',
                            v_align: 'center',
                            h_offset: 10,
                            v_offset: 10
                        },
                        right: {
                            container: 'slider',
                            h_align: 'right',
                            v_align: 'center',
                            h_offset: 10,
                            v_offset: 10
                        }

                    }

                },
                /* Lazy Load options are "all", "smart", "single" and "none" */
                lazyType: "smart",
                spinner: "spinner0",
                /* DISABLE FORCE FULL-WIDTH */
                fullScreenAlignForce: 'off',
                hideThumbsOnMobile: 'off',
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
                responsiveLevels: [1240, 1024, 778, 480],
                /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
                gridwidth: [1220, 1024, 778, 480],
                /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
                gridheight: [900, 1000, 960, 720],
                /* [DESKTOP, LAPTOP, TABLET, SMARTPHONE] */
                visibilityLevels: [1240, 1024, 1024, 480],
                fallbacks: {
                    simplifyAll: 'on',
                    nextSlideOnWindowFocus: 'off',
                    disableFocusListener: false
                },
            });
        });
    </script>
    <script src="JS/rbtools.minefd5.js?ver=6.7.18" defer async id="tp-tools-js"></script>
    <script src="JS/rs6.minefd5.js?ver=6.7.18" defer async id="revmin-js"></script>
    <script src="JS/frontend-modules.mind5d5.js?ver=3.23.4" id="elementor-frontend-modules-js"></script>
    <script src="JS/waypoints.min05da.js?ver=4.0.2" id="elementor-waypoints-js"></script>
    <script src="JS/core.min3f14.js?ver=1.13.2" id="jquery-ui-core-js"></script>
    <script src="JS/frontend.mind5d5.js?ver=3.23.4" id="elementor-frontend-js"></script>
    <script id="rs-initialisation-scripts">
        var tpj = jQuery;

        var revapi1;

        if (window.RS_MODULES === undefined) window.RS_MODULES = {};
        if (RS_MODULES.modules === undefined) RS_MODULES.modules = {};
        RS_MODULES.modules["revslider11"] = {
            once: RS_MODULES.modules["revslider11"] !== undefined ? RS_MODULES.modules["revslider11"].once : undefined, init: function () {
                window.revapi1 = window.revapi1 === undefined || window.revapi1 === null || window.revapi1.length === 0 ? document.getElementById("rev_slider_1_1") : window.revapi1;
                if (window.revapi1 === null || window.revapi1 === undefined || window.revapi1.length == 0) { window.revapi1initTry = window.revapi1initTry === undefined ? 0 : window.revapi1initTry + 1; if (window.revapi1initTry < 20) requestAnimationFrame(function () { RS_MODULES.modules["revslider11"].init() }); return; }
                window.revapi1 = jQuery(window.revapi1);
                if (window.revapi1.revolution == undefined) { revslider_showDoubleJqueryError("rev_slider_1_1"); return; }
                revapi1.revolutionInit({
                    revapi: "revapi1",
                    DPR: "dpr",
                    sliderLayout: "fullwidth",
                    visibilityLevels: "1240,1024,778,480",
                    gridwidth: "1424,1024,778,480",
                    gridheight: "957,768,600,500",
                    lazyType: "smart",
                    perspective: 600,
                    perspectiveType: "global",
                    editorheight: "957,768,600,500",
                    responsiveLevels: "1240,1024,778,480",
                    progressBar: { disableProgressBar: true },
                    navigation: {
                        wheelCallDelay: 1000,
                        onHoverStop: false,
                        bullets: {
                            enable: true,
                            tmp: "<span class=\"tp-bullet-inner\"></span>",
                            style: "uranus",
                            hide_onmobile: true,
                            hide_under: 778,
                            h_align: "right",
                            v_align: "center",
                            h_offset: 63,
                            v_offset: 0,
                            direction: "vertical"
                        }
                    },
                    parallax: {
                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 30],
                        type: "scroll",
                        origo: "slidercenter",
                        speed: 0
                    },
                    viewPort: {
                        global: true,
                        globalDist: "-200px",
                        enable: false
                    },
                    fallbacks: {
                        allowHTML5AutoPlayOnAndroid: true
                    },
                });

            }
        } // End of RevInitScript
        if (window.RS_MODULES.checkMinimal !== undefined) { window.RS_MODULES.checkMinimal(); };
    </script>
</div>

</body>

</html>