<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>PV Symphony</title>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <link rel="apple-touch-icon" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <link rel="apple-touch-icon" sizes="72x72" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <link rel="apple-touch-icon" sizes="114x114" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="CSS/vendors.min.css">
    <link rel="stylesheet" href="CSS/icon.min.css">
    <link rel="stylesheet" href="CSS/style.min.css">
    <link rel="stylesheet" href="CSS/responsive.min.css">
    <link rel="stylesheet" href="CSS/decor-store.css">
</head>

<body data-mobile-nav-style="classic">
    <!-- start header -->
    <header class="header-with-topbar">
        <!-- start navigation -->
        <nav class="navbar navbar-expand-lg header-light bg-transparent disable-fixed" data-header-hover="light">
            <div class="container-fluid">
                <div class="col-auto">
                    <a class="navbar-brand" href="/">
                        <img src="" data-at2x="" alt="" class="default-logo">
                        <img src="" data-at2x="" alt="" class="alt-logo">
                        <img src="" data-at2x="" alt="" class="mobile-logo">
                    </a>
                </div>
                <div class="col-auto menu-order position-static xs-ps-0">
                    <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav alt-font">
                            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                            <li class="nav-item dropdown simple-dropdown">
                                <a href="/shop" class="nav-link">Shop</a>
                                <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                    <li><a href="/shop">Piano</a></li>
                                    <li><a href="/shop">Guitar</a></li>
                                    <li><a href="/shop">Violin</a></li>
                                    <li><a href="/shop">Drum</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown simple-dropdown">
                                <a href="javascript:void(0);" class="nav-link">Pages</a>
                                <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/faq">FAQs</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="//blog" class="nav-link">Blog</a></li>
                            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto ms-auto">
                    <div class="header-icon">
                        <div class="header-search-icon icon">
                            <a href="javascript:void(0)" class="search-form-icon header-search-form"><i
                                    class="feather icon-feather-search"></i></a>
                            <div class="search-form-wrapper">
                                <button title="Close" type="button" class="search-close alt-font">×</button>
                                <form id="search-form" role="search" method="get" class="search-form bg-white"
                                    action="search-result.html">
                                    <div class="search-form-box">
                                        <h2 class="text-dark-gray text-center mb-7 alt-font fw-700 ls-minus-1px">What
                                            are you looking for?</h2>
                                        <input class="search-input alt-font" id="search-form-input5e219ef164995"
                                            placeholder="Enter your keywords..." name="s" value="" type="text"
                                            autocomplete="off">
                                        <button type="submit" class="search-button">
                                            <i class="feather icon-feather-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="header-cart-icon icon">
                            <div class="header-cart dropdown">
                                <a href="javascript:void(0);"><i class="feather icon-feather-shopping-bag"></i>
                                    <!-- <span
                                        class="cart-count alt-font">2</span> -->
                                </a>
                                <!-- <ul class="cart-item-list">
                                    <li class="cart-item align-items-center">
                                        <a href="javascript:void(0);" class="alt-font close">×</a>
                                        <div class="product-image">
                                            <a href="/product-detail"><img
                                                    src="Images/demo-decor-store-product-01.jpg" class="cart-thumb"
                                                    alt=""></a>
                                        </div>
                                        <div class="product-detail alt-font fw-600">
                                            <a href="/product-detail">Table clock</a>
                                            <span class="item-ammount fw-500">1 x $23.00</span>
                                        </div>
                                    </li>
                                    <li class="cart-item align-items-center">
                                        <a href="javascript:void(0);" class="alt-font close">×</a>
                                        <div class="product-image">
                                            <a href="/product-detail"><img
                                                    src="Images/demo-decor-store-product-03.jpg" class="cart-thumb"
                                                    alt=""></a>
                                        </div>
                                        <div class="product-detail alt-font fw-600">
                                            <a href="/product-detail">Ceramic mug</a>
                                            <span class="item-ammount fw-500">2 x $15.00</span>
                                        </div>
                                    </li>
                                    <li class="cart-total">
                                        <div class="alt-font mb-15px"><span class="w-50 fw-500">Subtotal:</span><span
                                                class="w-50 text-end fw-700">$199.99</span></div>
                                        <a href="/cart"
                                            class="btn btn-large btn-transparent-base-color border-color-extra-medium-gray btn-round-edge">View
                                            cart</a>
                                        <a href="/checkout"
                                            class="btn btn-large btn-base-color btn-box-shadow btn-round-edge">Checkout</a>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="widget-text md-ms-20px alt-font">
                            <a href="/login" class="fs-17 fw-600"><i
                                    class="feather icon-feather-user d-inline-block d-xl-none"></i><span
                                    class="d-none d-xl-inline-block"> <i class="bi bi-person"
                                        style="font-size: larger;"></i>
                                    <!-- Login -->
                                </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- end header -->
    <!-- start section -->
    <section class="top-space-margin half-section pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img class="border-radius-6px" src="Images/demo-decor-/blog-single-classic-01.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="overlap-section text-center p-0 sm-pt-50px">
        <img class="rounded-circle box-shadow-medium-bottom w-150px border border-9 border-color-white"
            src="Images/avtar-07.jpg" alt="">
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="pb-0 pt-40px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <span class="fs-18 mb-20px d-inline-block">Writer by <a href="//blog"
                            class="fw-600 d-inline-block align-middle text-dark-gray">Charlene carberry</a> in <a
                            href="//blog"
                            class="d-inline-block align-middle text-dark-gray fw-600">Decor</a></span>
                    <h2 class="alt-font fw-700 text-dark-gray mx-auto w-80 xl-w-100 mb-5">The best influencers to follow
                        for sartorial inspiration.</h2>
                    <i
                        class="feather icon-feather-more-horizontal- icon-double-large text-light-gray d-inline-block mb-5 d-inline-block"></i>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="py-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="dropcap-style-02 last-paragraph-no-margin">
                        <p><span
                                class="alt-font first-letter first-letter-block first-letter-round bg-dark-gray text-white">M</span>Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla, sapien luctus
                            fermentum cursus, risus arcu tristique libero, eu ultricies mauris risus at mauris. Duis sit
                            amet tempus massa, sit amet luctus erat. Quisque pulvinar ac nibh non sodales. Fusce
                            facilisis est. Vestibulum venenatis, mauris ut accumsan lacinia ipsum nisl volutpat leo ut
                            dictum mauris quam eget nibhmauris ut accumsan lacinia.</p>
                        <img src="Images/demo-decor-/blog-single-classic-02.jpg" class="mb-30px mt-6" alt="">
                        <p class="pb-25px text-center alt-font text-dark-gray ls-1px fw-600 text-uppercase">We must
                            never confuse elegance with snobbery</p>
                        <div class="h-3px w-100 bg-dark-gray"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 md-mb-50px">
                            <h4 class="alt-font text-dark-gray fw-700">Diversity lasts when it no longer has to be the
                                subject of a story.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla, sapien
                                luctus fermentum cursus, risus arcu tristique libero, eu ultricies mauris risus at
                                mauris. Duis sit amet tempus massa, sit amet luctus erat. Vestibulum venenatis accumsan
                                lacinia ipsum nisl volutpat leo, ut dictum mauris quam eget Suspendisse fringilla sapien
                                luctus.</p>
                            <p>Suspendisse fringilla, sapien luctus and fermentum cursus, risus arcu tristique libero,
                                eu ultricies.</p>
                            <a href="#" class="btn btn-dark-gray btn-medium mt-15px">Fashion trends</a>
                        </div>
                        <div class="col-lg-6 offset-xl-1"><img src="Images/demo-decor-/blog-single-classic-03.jpg"
                                alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-12 last-paragraph-no-margin">
                            <div class="h-3px w-100 bg-dark-gray"></div>
                            <p class="pt-25px text-center alt-font text-dark-gray ls-1px fw-600 text-uppercase">I want
                                people to see the dress, but focus on the woman</p>
                            <img src="Images/demo-decor-/blog-single-classic-04.jpg" class="mb-8 mt-30px" alt="">
                        </div>
                        <div class="col-md-6">
                            <h4 class="alt-font text-dark-gray fw-700">Fashion is what you're offered four times a year
                                by designers.</h4>
                        </div>
                        <div class="col-md-6 last-paragraph-no-margin">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla sapien
                                luctus fermentum cursus, risus arcu tristique libero, eu ultricies mauris risus at
                                mauris. Duis sit amet tempus massa. Vestibulum and venenatis, mauris ut accumsan
                                lacinia, ipsum nisl volutpat leo, ut dictum mauris quam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="half-section pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row mb-30px">
                        <div class="tag-cloud col-md-9 text-center text-md-start sm-mb-15px">
                            <a href="//blog">Development</a>
                            <a href="//blog">Event</a>
                            <a href="//blog">Multimedia </a>
                            <a href="//blog">Fashion</a>
                        </div>
                        <div class="tag-cloud col-md-3 text-uppercase text-center text-md-end">
                            <a class="likes-count fw-500 mx-0" href="#"><i
                                    class="fa-regular fa-heart text-red me-10px"></i><span
                                    class="text-dark-gray text-dark-gray-hover">05 Likes</span></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-6">
                            <div
                                class="d-block d-md-flex w-100 box-shadow-extra-large align-items-center border-radius-4px p-7 sm-p-35px">
                                <div class="w-140px text-center me-50px sm-mx-auto">
                                    <img src="Images/avtar-07.jpg" class="rounded-circle w-120px" alt="">
                                    <a href="//blog"
                                        class="text-dark-gray fw-600 mt-20px d-inline-block lh-20">Colene Landin</a>
                                    <span class="fs-15 lh-20 d-block sm-mb-15px">Co-founder</span>
                                </div>
                                <div class="w-75 sm-w-100 text-center text-md-start last-paragraph-no-margin">
                                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        ipsum has been the industry's standard dummy text ever since the 1500s when an
                                        unknown printer took a galley of type.</p>
                                    <a href="//blog"
                                        class="btn btn-link btn-large text-dark-gray mt-15px fw-600">All author
                                        posts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 text-center elements-social social-icon-style-04">
                            <ul class="large-icon dark">
                                <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                            class="fa-brands fa-facebook-f"></i><span></span></a></li>
                                <li><a class="twitter" href="https://www.twitter.com" target="_blank"><i
                                            class="fa-brands fa-twitter"></i><span></span></a></li>
                                <li><a class="instagram" href="https://www.instagram.com" target="_blank"><i
                                            class="fa-brands fa-instagram"></i><span></span></a></li>
                                <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i
                                            class="fa-brands fa-linkedin-in"></i><span></span></a></li>
                                <li><a class="behance" href="http://www.behance.com/" target="_blank"><i
                                            class="fa-brands fa-behance"></i><span></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="bg-very-light-gray">
        <div class="container">
            <div class="row justify-content-center mb-1">
                <div class="col-lg-7 text-center">
                    <span class="text-uppercase fs-14 ls-2px fw-600 d-inline-block">You may also like</span>
                    <h4 class="alt-font text-dark-gray fw-700">Related posts</h4>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-12">
                    <ul
                        class="blog-classic blog-wrapper grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
                        <li class="grid-sizer"></li>
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img
                                            src="Images/demo-decor-/blog-07.jpg" alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Decor</a><a href="#"
                                            class="blog-date">08 August 2023</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray d-inline-block w-95 sm-w-100">The
                                        best influencers to follow for sartorial inspiration</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img
                                            src="Images/demo-decor-/blog-08.jpg" alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Design</a><a href="#"
                                            class="blog-date">12 August 2023</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray d-inline-block w-95 sm-w-100">Everything
                                        you need to know about decor's big night out</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img
                                            src="Images/demo-decor-/blog-04.jpg" alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Decor</a><a href="#"
                                            class="blog-date">20 August 2023</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray d-inline-block w-95 sm-w-100">All
                                        the best looks & moments from the met gala 2023</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img
                                            src="Images/demo-decor-/blog-03.jpg" alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Decor</a><a href="#"
                                            class="blog-date">26 August 2023</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray d-inline-block w-95 sm-w-100">Find
                                        a colour palettes that reflects your passion</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center mb-2">
                    <h6 class="alt-font text-dark-gray fw-700">4 Comments</h6>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <ul class="blog-comment">
                        <li>
                            <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                <div class="w-90px sm-w-65px sm-mb-10px">
                                    <img src="Images/avtar-18.jpg" class="rounded-circle" alt="">
                                </div>
                                <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                    <a href="#" class="text-dark-gray fw-600">Herman Miller</a>
                                    <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                    <div class="fs-14 lh-24 mb-10px">17 July 2020, 6:05 PM</div>
                                    <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem ipsum has been the industry's standard dummy text
                                        ever since the make book.</p>
                                </div>
                            </div>
                            <ul class="child-comment">
                                <li>
                                    <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                        <div class="w-90px sm-w-65px sm-mb-10px">
                                            <img src="Images/avtar-19.jpg" class="rounded-circle" alt="">
                                        </div>
                                        <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                            <a href="#" class="text-dark-gray fw-600">Wilbur Haddock</a>
                                            <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                            <div class="fs-14 lh-24 mb-10px">18 July 2020, 10:19 PM</div>
                                            <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing
                                                and typesetting industry. Lorem ipsum has been the industry's standard
                                                dummy text ever since.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div
                                        class="d-block d-md-flex w-100 align-items-center align-items-md-start border-radius-5px p-50px md-p-30px sm-p-20px bg-very-light-gray">
                                        <div class="w-90px sm-w-65px sm-mb-10px">
                                            <img src="Images/avtar-17.jpg" class="rounded-circle" alt="">
                                        </div>
                                        <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                            <a href="#" class="text-dark-gray fw-600">Colene Landin</a>
                                            <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                            <div class="fs-14 lh-24 mb-10px">18 July 2020, 12:39 PM</div>
                                            <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing
                                                and typesetting industry. Ipsum has been the industry's standard dummy
                                                text.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                <div class="w-90px sm-w-65px sm-mb-10px">
                                    <img src="Images/avtar-18.jpg" class="rounded-circle" alt="">
                                </div>
                                <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                    <a href="#" class="text-dark-gray fw-600">Jennifer Freeman</a>
                                    <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                    <div class="fs-14 lh-24 mb-10px">19 July 2020, 8:25 PM</div>
                                    <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem ipsum has been the industry's standard dummy text
                                        ever since the make a type specimen book.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section id="comments" class="pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 mb-3 sm-mb-6">
                    <h6 class="alt-font text-dark-gray fw-700 mb-5px">Write a comment</h6>
                    <div class="mb-5px">Your email address will not be published. Required fields are marked *</div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <form action="email-templates/contact-form.php" method="post" class="row contact-form-style-02">
                        <div class="col-md-6 mb-30px">
                            <input class="input-name border-radius-4px form-control required" type="text" name="name"
                                placeholder="Enter your name*">
                        </div>
                        <div class="col-md-6 mb-30px">
                            <input class="border-radius-4px form-control required" type="email" name="email"
                                placeholder="Enter your email address*">
                        </div>
                        <div class="col-md-12 mb-30px">
                            <textarea class="border-radius-4px form-control" cols="40" rows="4" name="comment"
                                placeholder="Your message"></textarea>
                        </div>
                        <div class="col-12">
                            <input type="hidden" name="redirect" value="">
                            <button class="btn btn-dark-gray btn-small btn-round-edge submit" type="submit">Post
                                Comment</button>
                            <div class="form-results mt-20px d-none"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start footer -->
    <footer class="footer-dark bg-dark-gray pb-0 pt-0 cover-background"
        style="background-image:url('Images/demo-decor-store-footer-bg.jpg')">
        <div class="container pt-4 pb-4 md-pt-45px md-pb-45px">
            <div class="row justify-content-center">
                <!-- start footer column -->
                <div class="col-6 col-lg-3 last-paragraph-no-margin order-sm-1 md-mb-50px xs-mb-30px">
                    <a href="/" class="footer-logo mb-15px d-inline-block"><img
                            src="Images/demo-decor-store-logo-white.png"
                            data-at2x="Images/demo-decor-store-logo-white@2x.png" alt=""></a>
                    <p class="w-80 sm-w-100">Lorem ipsum amet adipiscing elit to eiusmod ad tempor.</p>
                    <div class="elements-social social-icon-style-02 mt-15px">
                        <ul class="small-icon light">
                            <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i
                                        class="fa-brands fa-dribbble"></i></a></li>
                            <li><a class="twitter" href="https://www.twitter.com" target="_blank"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li><a class="instagram" href="https://www.instagram.com" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                    <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Categories</span>
                    <ul>
                        <li><a href="/shop">Bed room</a></li>
                        <li><a href="/shop">Living room</a></li>
                        <li><a href="/shop">Lightning</a></li>
                        <li><a href="/shop">Fabrics sofa</a></li>
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                    <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Information</span>
                    <ul>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/contact">Contact us</a></li>
                        <li><a href="/faq">FAQs</a></li>
                        <li><a href="/faq">Payment</a></li>
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                    <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Account</span>
                    <ul>
                        <li><a href="store-account.html">My account</a></li>
                        <li><a href="/cart">Orders</a></li>
                        <li><a href="/checkout">Checkout</a></li>
                        <li><a href="#">My wishlists</a></li>
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-lg-3 col-sm-6 ps-20px sm-ps-15px md-mb-50px xs-mb-0 order-sm-2 order-lg-5">
                    <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Newsletter</span>
                    <div class="mb-20px">Get everything you need succeed!</div>
                    <div class="d-inline-block w-100 newsletter-style-02 position-relative mb-15px">
                        <form action="email-templates/subscribe-newsletter.php" method="post"
                            class="position-relative w-100">
                            <input
                                class="bg-blue-tangaroa border-color-transparent-white-light w-100 form-control pe-50px ps-20px lg-ps-15px required"
                                type="email" name="email" placeholder="Enter your email">
                            <input type="hidden" name="redirect" value="">
                            <button class="btn pe-20px submit" aria-label="submit"><i
                                    class="icon feather icon-feather-mail icon-small text-white"></i></button>
                            <div
                                class="form-results border-radius-4px pt-5px pb-5px ps-15px pe-15px fs-14 lh-22 mt-10px w-100 text-center position-absolute d-none">
                            </div>
                        </form>
                    </div>
                    <div class="footer-card">
                        <a href="#" class="d-inline-block me-5px align-middle"><img
                                src="Images/demo-decor-store-payment-icon-01.png" alt=""></a>
                        <a href="#" class="d-inline-block me-5px align-middle"><img
                                src="Images/demo-decor-store-payment-icon-02.png" alt=""></a>
                        <a href="#" class="d-inline-block me-5px align-middle"><img
                                src="Images/demo-decor-store-payment-icon-03.png" alt=""></a>
                        <a href="#" class="d-inline-block me-5px align-middle"><img
                                src="Images/demo-decor-store-payment-icon-04.png" alt=""></a>
                    </div>
                </div>
                <!-- end footer column -->
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
        </a>
    </div>
    <!-- end scroll progress -->
    <!-- javascript libraries -->
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="JS/jquery.js"></script>
    <script type="text/javascript" src="JS/vendors.min.js"></script>
    <script type="text/javascript" src="JS/main.js"></script>
</body>

</html>