<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>PV Symphony</title>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- favicon icon -->
    <link rel="shortcut icon" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <link rel="apple-touch-icon" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <link rel="apple-touch-icon" sizes="72x72" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <link rel="apple-touch-icon" sizes="114x114" href="Images/logo_with_V_and_P__instrument-removebg-preview.png">
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="CSS/vendors.min.css">
    <link rel="stylesheet" href="CSS/icon.min.css">
    <link rel="stylesheet" href="CSS/style.min.css">
    <link rel="stylesheet" href="CSS/responsive.min.css">
    <link rel="stylesheet" href="CSS/decor-store.css">
</head>

<body data-mobile-nav-style="classic">
    <!-- start header -->
    <header class="header-with-topbar">

        <!-- start navigation -->
        <nav class="navbar navbar-expand-lg header-light bg-transparent disable-fixed" data-header-hover="light">
            <div class="container-fluid">
                <div class="col-auto">
                    <a class="navbar-brand" href="/">
                        <img src="" data-at2x="" alt="" class="default-logo">
                        <img src="" data-at2x="" alt="" class="alt-logo">
                        <img src="" data-at2x="" alt="" class="mobile-logo">
                    </a>
                </div>
                <div class="col-auto menu-order position-static xs-ps-0">
                    <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav alt-font">
                            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                            <li class="nav-item dropdown simple-dropdown">
                                <a href="/shop" class="nav-link">Shop</a>
                                <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                    <li><a href="/shop">Piano</a></li>
                                    <li><a href="/shop">Guitar</a></li>
                                    <li><a href="/shop">Violin</a></li>
                                    <li><a href="/shop">Drum</a></li>
                                </ul>
                            </li>
                            <!-- <li class="nav-item dropdown submenu">
                                <a href="store-collections.html" class="nav-link">Collections</a>
                                <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink2"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink2">
                                    <div class="d-lg-flex mega-menu m-auto flex-column">
                                        <div
                                            class="row row-cols-2 row-cols-lg-6 row-cols-sm-3 md-pt-15px align-items-center justify-content-center mb-60px md-mb-30px sm-mb-0">
                                            <div class="col md-mb-30px">
                                                <a href="store-collections.html" class="text-center">
                                                    <img src="Images/demo-decor-store-menu-category-01.jpg"
                                                        alt="">
                                                </a>
                                                <a href="store-collections.html"
                                                    class="btn btn-hover-animation text-uppercase-inherit fw-600 ls-0px justify-content-center">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-16">Designer
                                                            stool</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right m-0"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col md-mb-30px">
                                                <a href="store-collections.html" class="text-center">
                                                    <img src="Images/demo-decor-store-menu-category-02.jpg"
                                                        alt="">
                                                </a>
                                                <a href="store-collections.html"
                                                    class="btn btn-hover-animation text-uppercase-inherit fw-600 ls-0px justify-content-center">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-16">Modern chair</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right m-0"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="col md-mb-30px">
                                                <a href="store-collections.html" class="text-center">
                                                    <img src="Images/demo-decor-store-menu-category-03.jpg"
                                                        alt="">
                                                </a>
                                                <a href="store-collections.html"
                                                    class="btn btn-hover-animation text-uppercase-inherit fw-600 ls-0px justify-content-center">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-16">Table lamp</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right m-0"></i></span>
                                                    </span>
                                                </a>
                                            </div>


                                            <div class="col md-mb-30px">
                                                <a href="store-collections.html" class="text-center">
                                                    <img src="Images/demo-decor-store-menu-category-06.jpg"
                                                        alt="">
                                                </a>
                                                <a href="store-collections.html"
                                                    class="btn btn-hover-animation text-uppercase-inherit fw-600 ls-0px justify-content-center">
                                                    <span>
                                                        <span class="btn-text text-dark-gray fs-16">Wooden table</span>
                                                        <span class="btn-icon"><i
                                                                class="fa-solid fa-arrow-right m-0"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            <li class="nav-item dropdown simple-dropdown">
                                <a href="javascript:void(0);" class="nav-link">Pages</a>
                                <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/faq">FAQs</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="//blog" class="nav-link">Blog</a></li>
                            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto ms-auto">
                    <div class="header-icon">
                        <div class="header-search-icon icon">
                            <a href="javascript:void(0)" class="search-form-icon header-search-form"><i
                                    class="feather icon-feather-search"></i></a>
                            <div class="search-form-wrapper">
                                <button title="Close" type="button" class="search-close alt-font">×</button>
                                <form id="search-form" role="search" method="get" class="search-form bg-white"
                                    action="search-result.html">
                                    <div class="search-form-box">
                                        <h2 class="text-dark-gray text-center mb-7 alt-font fw-700 ls-minus-1px">What
                                            are you looking for?</h2>
                                        <input class="search-input alt-font" id="search-form-input5e219ef164995"
                                            placeholder="Enter your keywords..." name="s" value="" type="text"
                                            autocomplete="off">
                                        <button type="submit" class="search-button">
                                            <i class="feather icon-feather-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="header-cart-icon icon">
                            <div class="header-cart dropdown">
                                <a href="javascript:void(0);"><i class="feather icon-feather-shopping-bag"></i>
                                    <!-- <span
                                        class="cart-count alt-font">2</span> -->
                                </a>
                                <!-- <ul class="cart-item-list">
                                    <li class="cart-item align-items-center">
                                        <a href="javascript:void(0);" class="alt-font close">×</a>
                                        <div class="product-image">
                                            <a href="/product-detail"><img
                                                    src="Images/demo-decor-store-product-01.jpg" class="cart-thumb"
                                                    alt=""></a>
                                        </div>
                                        <div class="product-detail alt-font fw-600">
                                            <a href="/product-detail">Table clock</a>
                                            <span class="item-ammount fw-500">1 x $23.00</span>
                                        </div>
                                    </li>
                                    <li class="cart-item align-items-center">
                                        <a href="javascript:void(0);" class="alt-font close">×</a>
                                        <div class="product-image">
                                            <a href="/product-detail"><img
                                                    src="Images/demo-decor-store-product-03.jpg" class="cart-thumb"
                                                    alt=""></a>
                                        </div>
                                        <div class="product-detail alt-font fw-600">
                                            <a href="/product-detail">Ceramic mug</a>
                                            <span class="item-ammount fw-500">2 x $15.00</span>
                                        </div>
                                    </li>
                                    <li class="cart-total">
                                        <div class="alt-font mb-15px"><span class="w-50 fw-500">Subtotal:</span><span
                                                class="w-50 text-end fw-700">$199.99</span></div>
                                        <a href="/cart"
                                            class="btn btn-large btn-transparent-base-color border-color-extra-medium-gray btn-round-edge">View
                                            cart</a>
                                        <a href="/checkout"
                                            class="btn btn-large btn-base-color btn-box-shadow btn-round-edge">Checkout</a>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="widget-text md-ms-20px alt-font">
                            <a href="/login" class="fs-17 fw-600"><i
                                    class="feather icon-feather-user d-inline-block d-xl-none"></i><span
                                    class="d-none d-xl-inline-block"> <i class="bi bi-person"
                                        style="font-size: larger;"></i>
                                    <!-- Login -->
                                </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- end header -->
    <!-- start page title -->
    <section class="page-title-center-alignment cover-background top-space-padding"
        style="background-image: url(Images/demo-decor-store-title-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center position-relative page-title-extra-large">
                    <h1 class="alt-font d-inline-block fw-700 ls-minus-05px text-base-color mb-10px mt-3 md-mt-50px">
                        Contact us</h1>
                </div>
                <div class="col-12 breadcrumb breadcrumb-style-01 d-flex justify-content-center">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Contact us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->
    <!-- start section -->
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2"
                data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="col md-mb-35px">
                    <span
                        class="fs-17 fw-600 d-block w-90 sm-w-100 text-base-color border-bottom border-color-base-color pb-15px mb-15px"><i
                            class="feather icon-feather-map-pin d-inline-block text-base-color me-10px"></i>Office
                        location</span>
                    <div>

                        <p class="w-100 m-0">Nam Ky Khoi Nghia Street, Hoa Phu Ward,
                            <br>Thu Dau Mot City, Binh Duong Province, Vietnam
                        </p>
                    </div>
                </div>
                <div class="col md-mb-35px">
                    <span
                        class="fs-17 fw-600 d-block w-90 sm-w-100 text-base-color border-bottom border-color-base-color pb-15px mb-15px"><i
                            class="feather icon-feather-mail d-inline-block text-base-color me-10px"></i>Send a
                        message</span>
                    <a href="cdn-cgi/l/email-protection.html#d3babdb5bc93aabca6a1b7bcbeb2babdfdb0bcbe"><span
                            class="__cf_email__"
                            data-cfemail="e68f888089a69f89939482898b878f88c885898b">cit@eiu.edu.vn</span></a><br>
                    <a href="cdn-cgi/l/email-protection.html#a0d3c1ccc5d3e0d9cfd5d2c4cfcdc1c9ce8ec3cfcd"><span
                            class="__cf_email__"
                            data-cfemail="186b79747d6b5861776d6a7c7775797176367b7775">engineering@eiu.edu.vn</span></a>
                </div>
                <div class="col xs-mb-35px">
                    <span
                        class="fs-17 fw-600 d-block w-90 sm-w-100 text-base-color border-bottom border-color-base-color pb-15px mb-15px"><i
                            class="feather icon-feather-phone d-inline-block text-base-color me-10px"></i>Call us
                        directly</span>
                    <a href="tel:1800222000">(+84) 0274 222 0372</a><br>
                    <!-- <a href="tel:1800222002">1-800-222-002</a> -->
                </div>
                <div class="col">
                    <span
                        class="fs-17 fw-600 d-block w-90 sm-w-100 text-base-color border-bottom border-color-base-color pb-15px mb-15px"><i
                            class="feather icon-feather-users d-inline-block text-base-color me-10px"></i>Join our
                        team</span>
                    <a href="cdn-cgi/l/email-protection.html#9bf3f2e9fedbe2f4eee9fff4f6faf2f5b5f8f4f6"><span
                            class="__cf_email__"
                            data-cfemail="e68e8f9483a69f89939482898b878f88c885898b">cit@eiu.edu.vn</span></a><br>
                    <a href="cdn-cgi/l/email-protection.html#7d150f3d0412080f1912101c1413531e1210"><span
                            class="__cf_email__"
                            data-cfemail="40283200392f3532242f2d21292e6e232f2d">engineering@eiu.edu.vn</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="pt-0 position-relative overflow-hidden">
        <div class="container">
            <div class="row mb-20px">
                <div class="col-lg-10 col-md-12"
                    data-anime='{ "effect": "slide", "color": "#1B3250", "direction":"rl", "easing": "easeOutQuad", "delay":50}'>
                    <img src="Images/demo-decor-store-contact-01.jpg" alt="">
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-lg-7 col-md-12 align-self-start md-mt-15px"
                    data-bottom-top="transform: translate3d(80px, 20px, 0px);"
                    data-top-bottom="transform: translate3d(-80px, 20px, 0px);">
                    <span
                        class="alt-font fs-120 xs-fs-75 fw-600 opacity-3 d-block d-lg-inline-block text-center ls-minus-3px text-white-space-nowrap xs-text-white-space-normal">Get
                        in touch!</span>
                </div>
                <div class="col-lg-5 contact-form-style-03 position-relative overlap-section-one-fourth md-mt-0"
                    data-anime='{ "el": "childs", "translateY": [50, 0],"opacity": [0,1], "duration": 800, "delay": 550, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="bg-base-color p-16 lg-p-10 position-relative overflow-hidden mt-50px">
                        <i
                            class="bi bi-chat-text fs-140 text-white opacity-1 position-absolute top-minus-30px right-minus-20px"></i>
                        <h2 class="fw-600 alt-font text-white mb-30px fancy-text-style-4 ls-minus-1px">Say
                            <span
                                data-fancy-text='{ "effect": "rotate", "string": ["hello!", "hallå!", "salve!"] }'></span>
                        </h2>
                        <form action="email-templates/contact-form.php" method="post">
                            <div class="position-relative form-group mb-10px">
                                <span class="form-icon text-white"><i class="bi bi-person icon-small"></i></span>
                                <input
                                    class="fw-300 ps-0 border-radius-0px bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control required"
                                    type="text" name="name" placeholder="Your name*">
                            </div>
                            <div class="position-relative form-group mb-10px">
                                <span class="form-icon text-white"><i class="bi bi-envelope icon-small"></i></span>
                                <input
                                    class="fw-300 ps-0 border-radius-0px bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control required"
                                    type="email" name="email" placeholder="Your email address*">
                            </div>
                            <div class="position-relative form-group form-textarea mt-10px">
                                <textarea
                                    class="fw-300 ps-0 border-radius-0px bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control"
                                    name="comment" placeholder="Your message" rows="3"></textarea>
                                <span class="form-icon text-white"><i
                                        class="bi bi-chat-square-dots icon-small"></i></span>
                                <input type="hidden" name="redirect" value="">
                                <button
                                    class="btn btn-white btn-large fw-600 btn-switch-text btn-box-shadow btn-round-edge submit mt-30px"
                                    type="submit">
                                    <span>
                                        <span class="btn-double-text" data-text="Send message">Send message</span>
                                    </span>
                                </button>
                                <div class="form-results mt-20px d-none"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="p-0 border-radius-6px lg-no-border-radius overflow-hidden" id="location">
        <div class="container-fluid px-0">
            <div class="row g-0">
                <!-- <div class=" p-0"> -->
                <!-- <div id="map" class="map"> -->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.806217231611!2d106.6659148745205!3d11.053150754029598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1d7df763eaf%3A0xf4323e44f2867057!2zxJDhuqFpIGjhu41jIFF14buRYyB04bq_IE1p4buBbiDEkMO0bmc!5e0!3m2!1svi!2s!4v1733475524472!5m2!1svi!2s"
                    width="1910" ; height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <!-- </div> -->
                <!-- </div> -->
            </div>

        </div>
    </section>
    <!-- end section -->
    <!-- start footer -->
    <footer class="footer-dark bg-dark-gray pb-0 pt-0 cover-background"
        style="background-image:url('Images/demo-decor-store-footer-bg.jpg')">
        <div class="container pt-4 pb-4 md-pt-45px md-pb-45px">
            <div class="row justify-content-center">
                <!-- start footer column -->
                <div class="col-6 col-lg-3 last-paragraph-no-margin order-sm-1 md-mb-50px xs-mb-30px">
                    <a href="/" class="footer-logo mb-15px d-inline-block"><img
                            src="Images/Logo_PhucVYSymphony.png" style="max-width: 100%;"></a>
                    <p class="w-80 sm-w-100">Lorem ipsum amet adipiscing elit to eiusmod ad tempor.</p>
                    <div class="elements-social social-icon-style-02 mt-15px">
                        <ul class="small-icon light">
                            <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i
                                        class="fa-brands fa-dribbble"></i></a></li>
                            <li><a class="twitter" href="https://www.twitter.com" target="_blank"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li><a class="instagram" href="https://www.instagram.com" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                    <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Categories</span>
                    <ul>
                        <li><a href="/shop">Piano</a></li>
                        <li><a href="/shop">Guitar</a></li>
                        <li><a href="/shop">Violin</a></li>
                        <li><a href="/shop">Drum</a></li>
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                    <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Information</span>
                    <ul>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/contact">Contact us</a></li>
                        <li><a href="/faq">FAQs</a></li>
                        <!-- <li><a href="/faq">Payment</a></li> -->
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <!-- <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                    <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Account</span>
                    <ul>
                        <li><a href="store-account.html">My account</a></li>
                        <li><a href="/cart">Orders</a></li>
                        <li><a href="/checkout">Checkout</a></li>
                        <li><a href="#">My wishlists</a></li>
                    </ul>
                </div> -->
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-lg-3 col-sm-6 ps-20px sm-ps-15px md-mb-50px xs-mb-0 order-sm-2 order-lg-5">
                    <span class="fs-16 alt-font fw-500 d-block text-white mb-5px">Newsletter</span>
                    <div class="mb-20px">Get everything you need succeed!</div>
                    <div class="d-inline-block w-100 newsletter-style-02 position-relative mb-15px">
                        <form action="email-templates/subscribe-newsletter.php" method="post"
                            class="position-relative w-100">
                            <input
                                class="bg-blue-tangaroa border-color-transparent-white-light w-100 form-control pe-50px ps-20px lg-ps-15px required"
                                type="email" name="email" placeholder="Enter your email">
                            <input type="hidden" name="redirect" value="">
                            <button class="btn pe-20px submit" aria-label="submit"><i
                                    class="icon feather icon-feather-mail icon-small text-white"></i></button>
                            <div
                                class="form-results border-radius-4px pt-5px pb-5px ps-15px pe-15px fs-14 lh-22 mt-10px w-100 text-center position-absolute d-none">
                            </div>
                        </form>
                    </div>
                    <div class="footer-card">
                        <a href="#" class="d-inline-block me-5px align-middle"><img
                                src="Images/demo-decor-store-payment-icon-01.png" alt=""></a>
                        <a href="#" class="d-inline-block me-5px align-middle"><img
                                src="Images/demo-decor-store-payment-icon-02.png" alt=""></a>
                        <a href="#" class="d-inline-block me-5px align-middle"><img
                                src="Images/demo-decor-store-payment-icon-03.png" alt=""></a>
                        <a href="#" class="d-inline-block me-5px align-middle"><img
                                src="Images/demo-decor-store-payment-icon-04.png" alt=""></a>
                    </div>
                </div>
                <!-- end footer column -->
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
        </a>
    </div>
    <!-- end scroll progress -->
    <!-- javascript libraries -->
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="JS/jquery.js"></script>
    <script type="text/javascript" src="JS/vendors.min.js"></script>
    <script async="" defer=""
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA56KqSJ11nQUw_tXgXyNMiPmQeM7EaSA&callback=initMap"></script>
    <script type="text/javascript" src="JS/main.js"></script>
</body>

</html>