<!doctype html>
<html class="no-js" lang="en">

<head th:replace="layout :: cssStyle"> </head>

<body data-mobile-nav-style="classic">
    <header th:replace="layout :: header"> </header>
    <section th:replace="~{layout :: pageTitle('Checkout')}"></section>
    <!-- start section -->
    <section>
        <div class="container">
            <form class="" th:action="@{/submit}" th:object="${orderRequest}" method="post">
            <div class="row justify-content-center mb-8 lg-mb-10 align-items-center">
                <div class="col-auto icon-with-text-style-08 lg-mb-10px">
                    <div class="feature-box feature-box-left-icon">
                        <div class="feature-box-icon me-5px">
                            <i
                                    class="feather icon-feather-user top-9px position-relative text-dark-gray icon-small"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="d-inline-block text-dark-gray align-middle alt-font fw-500">Returning customer?
                                <a href="#" class="text-decoration-line-bottom fw-600 text-dark-gray">Click here to
                                    login</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-lg-7 pe-50px md-pe-15px md-mb-50px xs-mb-35px">
                    <span class="fs-26 alt-font fw-600 text-dark-gray mb-20px d-block">Billing details</span>

                        <div class="row">
                            <div class="col-md-6 mb-20px">
                                <label class="mb-10px">First name <span class="text-red">*</span></label>
                                <input class="border-radius-4px input-small required" type="text" th:field="*{firstName}" aria-label="text"
                                       required="">
                            </div>
                            <div class="col-md-6 mb-20px">
                                <label class="mb-10px">Last name <span class="text-red">*</span></label>
                                <input class="border-radius-4px input-small required" type="text" th:field="*{lastName}" aria-label="text"
                                       required="">
                            </div>
                            <div class="col-12 mb-20px">
                                <label class="mb-10px">Phone <span class="text-red">*</span></label>
                                <input class="border-radius-4px input-small required" type="text" th:field="*{phone}" required="">
                            </div>
                            <div class="col-12 mb-10px">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="mb-10px">Street address <span class="text-red">*</span></label>
                                        <input class="border-radius-4px input-small mb-20px required" type="text"
                                               placeholder="House number and street name" th:field="*{street}" required="">
                                    </div>
                                    <div class="col-4 mb-10px">
                                        <label class="mb-10px" for="city">Province <span
                                                class="text-red">*</span></label>
                                        <select name="contry" id="city" class="form-select select-small required "
                                                required="" th:field="*{province}">
                                            <option value="">Select a province</option>
                                        </select>
                                    </div>
                                    <div class="col-4 mb-10px">
                                        <label class="mb-10px" for="district">Town/City <span
                                                class="text-red">*</span></label>
                                        <select name="contry" id="district" class="form-select select-small required"
                                                required="" th:field="*{city}">
                                            <option value="">Select a town/city</option>
                                        </select>
                                    </div>
                                    <div class="col-4 mb-10px">
                                        <label class="mb-10px" for="ward">Ward <span class="text-red">*</span></label>
                                        <select name="contry" id="ward" class="form-select select-small required"
                                                required="" th:field="*{ward}">
                                            <option value="">Select a ward</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-20px">
                                <label class="mb-10px">Email address</label>
                                <input class="border-radius-4px input-small" type="email" >
                            </div>
                            <div class="col-12">
                                <label class="mb-10px">Order notes (optional)</label>
                                <textarea class="border-radius-4px textarea-small" rows="5" cols="5"
                                          placeholder="Notes about your order, e.g. special notes for delivery." th:field="*{notes}"></textarea>
                            </div>
                        </div>

                </div>
                <div class="col-lg-5">
                    <div class="bg-very-light-gray border-radius-6px p-50px lg-p-25px your-order-box">
                        <span class="fs-26 alt-font fw-600 text-dark-gray mb-5px d-block">Your order</span>
                        <table class="w-100 total-price-table your-order-table">
                            <tbody>
                            <tr>
                                <th class="w-60 lg-w-55 xs-w-50 fw-600 text-dark-gray alt-font">Product</th>
                                <td class="fw-600 text-dark-gray alt-font">Total</td>
                            </tr>
                            <tr class="product" th:each="cart:${carts}">
                                <td class="product-thumbnail">
                                    <a href="store-single-product.html"
                                       class="text-dark-gray fw-500 d-block lh-initial" th:text="@{${cart.getProduct().getName()}+' x '+${cart.quantity}}"></a>
                                    <span class="fs-14 d-block" th:text="@{'Category: '+${cart.getProduct().getCategory().getName()}}">Category</span>
                                </td>
                                <td class="product-price" data-title="Price" th:text="@{'$'+${cart.quantity * cart.getProduct().getPrice()}}" >$23.00</td>
                            </tr>
                            <tr>
                                <th class="w-50 fw-600 text-dark-gray alt-font">Subtotal</th>
                                <td class="text-dark-gray fw-600 totalPriceCheckout" th:field="*{totalPrice}">$405.00</td>
                            </tr>
                            <tr class="total-amount">
                                <th class="fw-600 text-dark-gray alt-font">Total</th>
                                <td data-title="Total">
                                    <h6 class="d-block fw-700 mb-0 text-dark-gray alt-font totalPriceCheckout" >$405.00</h6>
                                    <span class="fs-14">(Includes $19.29 tax)</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div
                                class="p-40px lg-p-25px bg-white border-radius-6px box-shadow-large mt-10px mb-30px sm-mb-25px checkout-accordion">
                            <div class="w-100" id="accordion-style-05">
                                <!-- start tab content -->
                                <div class="heading active-accordion">
                                    <label class="mb-5px">
                                        <input class="d-inline w-auto me-5px mb-0 p-0" type="radio"
                                               name="payment-option" checked="checked">
                                        <span class="d-inline-block text-dark-gray fw-500">Cash on delivery</span>
                                        <a class="accordion-toggle" data-bs-toggle="collapse"
                                           data-bs-parent="#accordion-style-05" href="#style-5-collapse-3"></a>
                                    </label>
                                </div>
                                <div id="style-5-collapse-3" class="collapse show" data-bs-parent="#accordion-style-05">
                                    <div class="p-25px bg-very-light-gray mt-20px mb-20px fs-14 lh-24">Pay with cash
                                        upon delivery.</div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="heading active-accordion">
                                    <label class="mb-5px">
                                        <input class="d-inline w-auto me-5px mb-0 p-0" type="radio"
                                               name="payment-option">
                                        <span class="d-inline-block text-dark-gray fw-500">Momo</span>
                                        <a class="accordion-toggle" data-bs-toggle="collapse"
                                           data-bs-parent="#accordion-style-05" href="#style-5-collapse-4"></a>
                                    </label>
                                </div>
                                <div id="style-5-collapse-4" class="collapse" data-bs-parent="#accordion-style-05">
                                    <div class="p-25px bg-very-light-gray mt-20px fs-14 lh-24">You can pay with your
                                        Momo.</div>
                                </div>
                                <!-- end tab content -->

                            </div>
                        </div>
                        <a href="#"
                           class="btn btn-base-color btn-extra-large btn-switch-text btn-round-edge btn-box-shadow w-100 text-transform-none mt-30px">
                            <span>
                                <button type="submit" class="btn-double-text" data-text="Place order">Place order</button>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </section>
    <!-- end section -->
    <!-- start footer -->
    <footer th:replace="layout :: footer"> </footer>
    <!-- end footer -->
    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
        </a>
    </div>
    <!-- end scroll progress -->
    <!-- javascript libraries -->
    <section th:replace="layout :: scriptStyle"> </section>
</body>

</html>