<!doctype html>
<html class="no-js" lang="en">

<head th:replace="layout :: cssStyle"></head>

<body data-mobile-nav-style="classic">
    <header th:replace="layout :: header"> </header>
    <section th:replace="~{layout :: pageTitle('Blog')}"></section>
    <!-- start section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 px-0">
                    <ul class="blog-classic blog-wrapper grid-loading grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-double-extra-large"
                        data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <li class="grid-sizer"></li>

                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img src="Images/First Look TAG3 C TransAcoustic.png"
                                            alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Guitar</a><a href="#"
                                            class="blog-date">09 October 2024</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 xs-w-100 titleNews">First
                                        Look: TAG3 C TransAcoustic</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img
                                            src="Images/Five Reasons Why Playing Piano is Good for You.jpg" alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Piano</a><a href="#"
                                            class="blog-date">26 December 2023</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 xs-w-100 titleNews">Five
                                        Reasons Why Playing Piano is Good for You</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->

                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img
                                            src="Images/Four Tips For Getting Your Child Started On Pianot.png"
                                            alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Piano</a><a href="#"
                                            class="blog-date">05 September 2024</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 xs-w-100 titleNews">Four
                                        Tips For Getting Your Child Started On Pianot</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img
                                            src="Images/The Benefits of Playing Piano … At Any Age.png" alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Piano</a><a href="#"
                                            class="blog-date">22 August 2024</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 xs-w-100 titleNews">The
                                        Benefits of Playing Piano … At Any Age</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->

                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img src="Images/Buying Your First Drum Set.png" alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Drum</a><a href="#"
                                            class="blog-date">06 December 2024</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 xs-w-100 titleNews">Buying
                                        Your First Drum Set</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <!-- <a href="/blog-detail"> -->
                                    <a href="#"><img src="Images/Guitar_articles3.jpg" alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <!-- <a href="//blog" -->
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="#"
                                            class="text-dark-gray fw-700 categories-text">Guitar</a><a href="#"
                                            class="blog-date">02 August 2024</a></span>
                                    <!-- <a href="/blog-detail" -->
                                    <a href="#"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 sm-w-100 titleNews"
                                        id="titleNews">Choosing
                                        an Acoustic Guitar</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <!-- <a href="/blog-detail"> -->
                                    <a href="#"><img src="Images/drum_articles2.jpg" alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <!-- <a href="//blog" -->
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="#"
                                            class="text-dark-gray fw-700 categories-text">Decor</a><a href="#"
                                            class="blog-date">05 July 2024</a></span>
                                    <!-- <a href="/blog-detail" -->
                                    <a href="#"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 sm-w-100 titleNews">How
                                        To Play Drums</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img src="Images/How to Become a Great Session Drummer.jpeg"
                                            alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Drum</a><a href="#"
                                            class="blog-date">16 July 2023</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 xs-w-100 titleNews">How
                                        to Become Drummers</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img
                                            src="Images/Discover the Sonic Possibilities of Your Drums, Part 1.jpg"
                                            alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Drum</a><a href="#"
                                            class="blog-date">07 September 2023</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 xs-w-100 titleNews">Discover
                                        the Sonic Possibilities of Your Drums, Part 1</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <a href="/blog-detail"><img
                                            src="Images/Discover the Sonic Possibilities of Your Drums, Part 1.jpg"
                                            alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="//blog"
                                            class="text-dark-gray fw-700 categories-text">Drum</a><a href="#"
                                            class="blog-date">22 September 2023</a></span>
                                    <a href="/blog-detail"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 xs-w-100 titleNews">Discover
                                        the Sonic Possibilities of Your Drums, Part 2</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <!-- <a href="/blog-detail"> -->
                                    <a href="#">
                                        <img src="Images/violin_articles_news.jpg" alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <!-- <a href="//blog" -->
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="#"
                                            class="text-dark-gray fw-700 categories-text">Violin</a><a href="#"
                                            class="blog-date">13 April 2023</a></span>
                                    <!-- <a href="/blog-detail" -->
                                    <a href="#"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 sm-w-100 titleNews">Violin,
                                        Viola, Cello, or Bass: Which is the Right String Instrument for Me?</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                        <!-- start blog item -->
                        <li class="grid-item">
                            <div class="card bg-transparent border-0 h-100">
                                <div class="blog-image position-relative overflow-hidden border-radius-4px">
                                    <!-- <a href="/blog-detail"> -->
                                    <a href="#"><img src="Images/piano_articles4.jpg" alt=""></a>
                                </div>
                                <div class="card-body px-0 pt-30px pb-30px xs-pb-15px">
                                    <!-- <a href="//blog" -->
                                    <span class="fs-13 text-uppercase d-block mb-5px fw-500"><a href="#"
                                            class="text-dark-gray fw-700 categories-text">Piano</a><a href="#"
                                            class="blog-date">01 December 2022</a></span>
                                    <!-- <a href="/blog-detail" -->
                                    <a href="#"
                                        class="card-title alt-font fw-600 fs-17 lh-30 text-dark-gray w-95 sm-w-100 titleNews"
                                        id="titleNews">Here’s
                                        What to Look for When Shopping for an Acoustic Piano</a>
                                </div>
                            </div>
                        </li>
                        <!-- end blog item -->
                    </ul>
                </div>
                <div class="col-12 mt-3 sm-mb-3 d-flex justify-content-center"
                    data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <ul class="pagination pagination-style-01 fs-13 fw-500 mb-0">
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="feather icon-feather-arrow-left fs-18 d-xs-none"></i></a></li>
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item "><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link" href="#">04</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="feather icon-feather-arrow-right fs-18 d-xs-none"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start footer -->
    <footer th:replace="layout :: footer"> </footer>
    <!-- end footer -->
    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
        </a>
    </div>
    <!-- end scroll progress -->
    <!-- javascript libraries -->
    <div th:replace="layout :: scriptStyle"></div>
</body>

</html>